.divs{
    color: red;
}

/*id არის როდესაც ჩვენ კუთვნილებას ვხდით უნიკალურს და 
ვსტილავთ ცალკე, ხოლო class არის როდესაც ვაგროვებთ ბევრ კუთვნილებას ერთად და
ვსტილავთ.*/

#p1 {
    color: blue;
}
#p2 {
    color: purple;
}
#p3 {
    color: pink;
}
#p4 {
    color: aqua;
}