#one{
    list-style-type: lower-roman;
    border: 2px solid;
    list-style-position: inside;
    text-align: center;
}
#two{
    list-style-image: url(./apple.png);
    text-align: center;
    list-style-position: inside;
}
