#a1:hover {
    color: red;
    text-decoration: none;
    font-size: larger;
}

.as:link {
    color: yellow;
}
.as:visited {
    color: blue;
}
.as:active {
    text-decoration: line-through wavy;
    font-size: larger;
    background-color: aqua;
    text-shadow: 5px 5px 5px gray;
}